<div class="product-info__block" {{ block.shopify_attributes }}>
  {% render block %}
</div>

{% schema %}
  {
    "name": "App",
    "presets": [
      {
        "name": "App"
      }
    ]
    
  }
{% endschema %}