<div class="product-info__block" {{ block.shopify_attributes }}>
  {{ block.settings.custom_liquid }}
</div>
{% schema %}
  {
   "name": "Custom Liquid",
    "settings": [
      {
        "type": "liquid",
        "id": "custom_liquid",
        "label": "Custom Liquid"
      }
    ],
    "presets": [
      {
        "name": "Custom Liquid"
      }
    ]
  }
{% endschema %}