<div class="form-field filed_galaxy">
    <label class="form-label">{{ block.settings.text }}<small>*</small></label>
    <select class="form-select form-select--small form-select-check" data-name="properties[Font]" name="" required>
        <option value="">Choose Options</option>
        {% if block.settings.csv_values != blank %}
           {% assign fontoption = block.settings.csv_values %}
            {% assign fonts = fontoption | split: "," %}
            {% for font in fonts %}
              <option value="{{ font }}">{{ font }}</option>
            {% endfor %}
        {% endif %}
    </select>
</div>

{% schema %}
  {
    "name": "Form font",
    "settings": [
      {
        "type": "text",
        "id": "text",
        "label":"Text"
      },
      {
        "type": "textarea",
        "id": "csv_values",
        "label": "Font Option",
        "default": "Choose Options"
      }
    ],
    "presets": [
      {
        "name": "Form font"
      }
    ]
  }
{% endschema %}