<div class="form-field filed_galaxy">
  <label class="form-label"> {{ block.settings.text }} </label>
 <input class="form-input form-input--small" type="text" data-name="properties[Name]" name="" value="" maxlength="40">
</div>

{% schema %}
  {
    "name": "Form name",
    "settings": [
      {
        "type": "text",
        "id": "text",
        "label":"Text"
      }
    ],
    "presets": [
      {
        "name": "Form name"
      }
    ]
  }
{% endschema %}