<div class="form-field filed_galaxy">
 <label class="form-label">{{ block.settings.text }}<small>*</small></label>
 <select class="form-select form-select--small form-select-check" data-name="properties[Clip Art]" name="" required>
    <option value="">Choose Options</option>
    {% assign symbols = block.settings.clip_values | split: ',' %}
    {% for symbol in symbols %}
       <option value="{{ symbol | strip }}">{{ symbol | strip }}</option>
    {% endfor %}
   </select>
</div>

{% schema %}
  {
    "name": "Form clip art",
    "settings": [
      {
        "type": "text",
        "id": "text",
        "label":"Text"
      },
      {
        "type": "textarea",
        "id": "clip_values",
        "label": "Clip Art Option",
        "default": "Choose Options"
      }
    ],
    "presets": [
      {
        "name": "Form clip art"
      }
    ]
  }
{% endschema %}