{% assign current_variant = product.selected_or_first_available_variant %}

<div class="product-info__block product-info__block--sm product-info__title" {{ block.shopify_attributes }}>
  <h1 class="product-title h5">
    {{ product.title | escape }}

    {% if block.settings.show_weight %}
      <span class="product-info__weight text-body-extra_small"{% unless current_variant.weight > 0 %} hidden{% endunless %}>
        {% if current_variant.weight > 0 %}
          {{ current_variant.weight | weight_with_unit: current_variant.weight_unit }}
        {% endif %}
      </span>
    {% endif %}
  </h1>
</div>


{% schema %}
  {
    "name": "Title",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_weight",
        "label": "Show weight",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Title"
      }
    ]
  }
{% endschema %}