.header__icon .header__cart-count{
  color:#fff;
}
.multi-column .card__info .mt-8 {
    margin-top: 10px;
}
.cc-rich-text .max-w-text-overlay p {
    margin-bottom: 0;
}
.price__current span.hidden, .cart__summary .hidden {
    display: block;
}
 .cart-drawer__checkout-buttons .btn .hidden {
    display: inline-block;
}
 .cc-list-collections.section--template ul.grid  {
    margin-top: 30px;
    margin-bottom: 0;
   row-gap: 30px;
}
.main-products-grid[data-layout=list] .image-blend {
    height: 100%;
}
.product-info__block span.product-vendor a {
    color: #000;
}
a.cart-drawer__view-cart.link.block.text-sm {
    text-transform: uppercase;
    font-weight: 600;
}
.page__content.reading-width {
    max-width: 100%;
}
.cc-main-page.section, .cc-main-page.section .reading-width {
    margin-top: 30px;
}
.container .rte a {
    color: #000;
}
.cc-contact-form .section {
    margin-top: 0;
}
.page-contact-us .cc-main-page.section{
  margin-bottom:0;
}
.input:focus, select:focus{
  box-shadow:none;
}
.article__pagination a.has-ltr-icon {
    color: #000;
}
.cc-main-blog .featured-card {
    margin-top: 30px;
}
.page-signup-form .cc-main-page.section {
    margin-bottom: 0;
  
}
.page-signup-form .section {
   margin-top:0
}
.signup_main_class {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.signup_main_class .register-form {
    width: 60%;
}

.signup_main_class .log-in-link {
    width: 40%;
    padding-left: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.signup_main_class .log-in-link a {
    width: auto;
    padding: 0;
    text-decoration: underline;
    font-size: 18px;
}
.signup_main_class .log-in-link .sticky-content {
    position: sticky;
    top: 150px;
}
.signup_main_class .log-in-link .sticky-content h4 {
    font-size: 28px;
}
button#approvalstudiouploaderModalInitiator {
    padding: 15px;
    background: rgb(var(--btn-bg-hover-color)) linear-gradient(104deg, rgb(var(--btn-bg-hover-color)) 60%, rgb(var(--btn-bg-color)) 60% 100%) no-repeat 100% 100%;
    color: rgb(var(--btn-text-color));
    background-size: 300% 100%;
}
.product-info__add-to-cart button.btn {
    height: 48.5px;
}
.announcement__text .rte a {
    color: #fff;
}
.product-info__block .custom-date {
    margin:15px 0 30px;
} 
.product-info__block .custom-date input.properties-input {
    margin-left: 15px;
    height: 50px;
    padding: 0 20px;
    border-radius: 4px;
}
.header__icons .buttton_cstm {
    width: unset;
    height: 35px;
    background: black;
    font-size: 15px;
    font-family: 'DM',sans-serif;
    border-radius: 8px;
    padding: 15px;
  color:#fff;
}
.page-contact-us .form_center_content{
  text-align:center;
}
.main-menu .secondary-nav__item:not(.secondary-nav__cta) {
    color: currentColor;
}
.page-engraving-personalization .article-content img {
    margin-bottom: 0;
}
.mobile_div_menusshow {
    display: none;
}
.rte {
    text-align: justify;
}
.card  .card__info {
    text-align: center;
}
.card  .flex.grow.items-end {
    display: flex;
    justify-content: center;
}
/*--engraving-product css-----*/
.custom_properties .hide {
    display: none;
}
.custom_properties div {
    margin-bottom: 20px;
}
.custom_properties .label {
    display: inline-block;
    margin-right: 15px;
    width: 90%;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
}
.custom_properties input {
    height: 50px;
    width: 100%;
    padding: 0 15px;
}
.custom_properties h2.title {
    font-size: 20px;
    margin-bottom: 20px;
}
.custom_properties .label.date_label {
    width: 30%;
}
.cart-item__variants a.link {
    color: #000;
}
.engraving-variants .opt-label:not([data-swatch]):hover:after {
    box-shadow: none;
}
.custom_properties input#Image {
    padding: 0;
}
.cc-faq .reading-width {
    max-width: 1200px;
    width: 100%;
}
.cc-announcement .contact_us_btn {
   letter-spacing: 0;
    width: unset;
    background: #fff;
    color:#000;
    font-size: 15px;
    font-family: DM,sans-serif;
    border-radius: 8px;
    padding: 5px 10px;
}
.page__title {
    text-transform: capitalize;
}
.grid .card--product-contained{
  border:none;
}
.grid .image-blend {
    background: #fff !important;
}
.header__grid .header__icons.flex.justify-end.mis-auto.js-closes-menu {
    margin-right: 0px;
}

/*--------------------responsive-css--------------------*/

@media screen and (min-width: 769px){
  h1 {
      font-size: 40px;
  }
   .cc-footer .footer {
      padding-bottom: 30px;
  }
  .collection-banner  .collection-banner__content {
      width: 90%;
  }
  .page-contact-us .page__content.reading-width {
      max-width: 768px;
      width: 100%;
  }
  .main-nav.secondary-menu .main-nav__child {
      right: 0;
  }
}
@media screen and (min-width: 850px){
  .cc-main-cart .cart--with-items {
      justify-content: space-between;
  }
}
@media screen and (min-width: 1024px){
  .cc-featured-collection .slider[data-overlayscrollbars-viewport] {
    padding-bottom: 20px !important;
  }
}
@media screen and (min-width: 1280px){
  .cc-list-collections.section--template .xl\:grid-cols-6 {
      grid-template-columns: repeat(5,minmax(0,1fr));
  }
}
@media screen and (max-width: 850px){
  .custom_properties .label {
    width: 18%;
  }
    .custom_properties input {
      width: 70%;
  }
    .custom_properties .label.date_label {
      width: 50%;
  }
}
@media screen and (max-width: 767px){
  h1{
    font-size:28px;
  }
  .slideshow-section .slideshow__slide .text-overlay {
      padding-bottom: 0;
  }
    .gallery-block__image  .media.media--has-overlay.w-full.h-full {
  	height: 100%;
  }
    .cc-background-video .video-section--full-width {
      max-height: 300px;
  }
    .product-info__block h1.product-title, .cart.form  .cart__items h1 {
      font-size: 24px;
  }
   .cart.form div#cart-summary {
      margin-top: 30px;
  }
    .cart-item__image img {
      min-height: 100px;
  }
      .signup_main_class .register-form {
      width: 100%;
      order: 2;
  }
  .signup_main_class .log-in-link {
      width: 100%;
    padding-bottom:0;
    padding-left: 20px;
  }
    .page-signup-form .section {
      margin-bottom: 0;
  }
    .signup_main_class .register-form .reading-width {
      margin-bottom: 0px;
      margin-top: 10px;
  }
  .signup_main_class .register-form  h1.page__title {
      margin-bottom: 0;
  }
    .secondary-menu .drawer-open>.main-nav__child {
      transform: translateZ(0);
  }
    ul.main-nav.secondary-menu {
      display: none;
  }
  .mobile_div_menusshow {
      display: block;
  }
  .mobile_div_menusshow >li, .mobile_div_menusshow .child-nav>li, .mobile_div_menusshow .grandchild-nav>li {
      border-bottom: 1px solid var(--nav-line-color);
  }
}
@media screen and (max-width: 479px){
.cc-promo-gallery .gallery_block__heading {
    font-size: 16px;
  }
}
.page-in-the-news .section{
  margin-bottom:0;
}
.page-in-the-news .cc-main-page , .page-in-the-news .page__content {
  margin-top:0;
}
/*-------------------ITG MP CSS START ---------------------*/
  .itg_shipping_checkbox label {
    margin-bottom: 16px;
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 16px;
  }
  .itg_shipping_checkbox label input[type="checkbox"] {
    padding: 0;
    width: 20px;
    height: 18px;
  }
  .itg-shipping-checkbox-div p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .itg-carrier-account-details select.input-full {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
  }
  .itg-carrier-account-details label {
    margin-bottom: 5px;
  }
  .itg-carrier-account-detail-field {
    margin-bottom: 16px;
  }
  .itg-carrier-account-detail-field input.input-full {
    width: 100%;
    box-shadow: none;
    outline: none;
    padding-block: initial;
    margin: 0;
    border: 2px solid #f0f0f0;
    padding: 7px;
    border-radius: 5px;
  }
  .itg-shipping-checkbox-div {
    width: 100%;
    position: relative;
    display: none;
  }
  .itg_otherfiled_show {
    display: none;
  }
  .itg_otherfiled_show.show {
    display: block;
  }
  .itg_otherfiled_hide.hide {
    display: none;
  }

@media screen and (max-width: 767px) {
  .itg_shipping_checkbox label {
    font-size: 14px;
  }
}
select.input-full.itgcarriermethodselect {
  display: none;
}
.SaveDetails {
    margin: 16px 0;
}
.header .main-nav.secondary-menu li [data-customer-availability="CustomerNotPresent"] {
    display: none !important;
}
/*-------------------ITG MP CSS END ---------------------*/
.SwymGrPositionSticky div#product-media .LiveWrittenText span:empty {
  display: none;
}
.product-info h1.product-title.h5 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 0;
}
.productView-optionsGrid .form-field {
    margin-bottom: 1.6rem;
}
.productView-optionsGrid label.form-label {
    display: block;
    line-height: 1.6;
    margin-bottom: .8rem;
    cursor: pointer;
    font-weight: 600;
}
.productView-optionsGrid label.form-label small {
    color: #cc4749;
    margin-left: 2px;
}
.productView-optionsGrid select{
    font-weight: 500;
    -webkit-appearance: auto;
    appearance: auto;
    padding-inline-end: 5px;
    padding-inline-start: 10px;
}
.productView-optionsGrid select.form-select--date {
    margin-left: .4rem;
    background-color: #fff;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    cursor: pointer;
    margin: 0;
    outline: 0;
}
.productView-optionsGrid select.form-select--small {
   width:100%;
    background-color: #fff;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    cursor: pointer;
    margin: 0;
    outline: 0;
}
.productView-optionsGrid .form-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    display: block;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    margin: 0;
    padding: .8rem 1.06667rem;
    -webkit-transition: border-color .1s ease-out;
    transition: border-color .1s ease-out;
    width: 100%;
}
.itg_shipping_datepicker {
    margin-bottom: 15px;
}

/* order proof page css start */
.page-order-proof h1.text-overlay__heading.h1 {
    display: none;
}
ul.pf-cards.pf-grid {
    width: 50%;
}
.pf-card-item .pf-textarea-customer-comment {
    height: 100px;
}
ul li.pf-card-item:before, .pf-content .fileuploader-items-list li:before{
    top: 25px;
    position: absolute;
    transform: translate(-25%);
}
@media screen and (max-width:768px){
  ul.pf-cards.pf-grid {
    width: 100%;
}
}
/* order proof page css end */

/* about us page css start */
.templateNameabout-us .page__content {
    padding: 0 11px;
}
li.itg_hide_f_menu {
    display: none;
}
.itg_contact_number {
    margin-right: 10px;
}
.itg_contact_number p {
    margin: 0;
}
/* about us page css end */
.saved-po-details a {
    color: #000;
}

.cc-contact-form {
    padding-top: 40px;
}

@media screen and (max-width:580px){
  .cc-announcement .flex {
      gap: 10px;
      justify-content: center;
      flex-wrap: wrap;
  }
  .announcement__col--left.announcement__slider {
      flex: auto;
  }
}


.gallery .gallery-block__text.text-start{
  min-height: 60px;
}
.SaveDetails p.save_detail_res {
    font-size: 16px;
    padding-top: 10px;
    color: #25344d;
    font-weight: 600;
    display: none;
}
.ui-datepicker .ui-datepicker-prev .ui-icon,
  .ui-datepicker .ui-datepicker-next .ui-icon {
    display: block;
    background: url("https://code.jquery.com/ui/1.13.2/themes/base/images/ui-icons_444444_256x240.png") no-repeat;
    width: 16px;
    height: 16px;
  }
.ui-datepicker .ui-datepicker-prev span{
      transform: rotate(-90deg);
}
.ui-datepicker .ui-datepicker-next span{
  transform: rotate(90deg);
}
  .addLoader.it_loading {
    display: block;
  }
  .it_loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .it_loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
    background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
  }
  .it_loading:not(:required) {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .it_loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 120ms infinite linear;
    -moz-animation: spinner 120ms infinite linear;
    -ms-animation: spinner 120ms infinite linear;
    -o-animation: spinner 120ms infinite linear;
    animation: spinner 120ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  }
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }